.theater-details {
  display: flex;
  flex-direction: column;
  &-screen {
    place-self: center;
    text-align: center;
    background-color: firebrick;
    width: 500px;
    height: 32px;
    color: $primary-color-3;
  }
  &-seats-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 100px);
    &-seat {
      border-radius: 8px;
      cursor: pointer;
      width: 30px;
      height: 35px;
      border: 1px solid black;
      text-align: center;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: darkgrey;

      &.clear {
        clear: both;
      }
      &.selected {
        background-color: darkRed;
      }
      &.reserved {
        cursor: not-allowed;
        background-color: rgb(41, 38, 38);
      }
    }
  }

  &-popup {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid black;

    button {
      margin-top: 10px;
    }
  }
}
